* {
	font-family: Arial, Helvetica, sans-serif;
}
.caja {
	background-color: black;
	margin: 0 auto;
	padding: 10px;
	width: 120px;
	text-align: center;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	overflow: auto;
	-moz-box-shadow: 0px 3px 5px #474747;
	-webkit-box-shadow: 0px 3px 5px #474747;
	box-shadow: 0px 3px 5px #474747;
}
.circulo {
	background-color: #ccc;
	display: block;
	width: 100px;
	height: 100px;
	margin: 0 auto;
  border-radius: 75px;
	-webkit-border-radius: 75px;
	border-radius: 75px;
	margin: 5px auto;
}
#info {
	font-family: Tahoma;
	margin: 20px auto;
	width: 200px;
	text-align:center;
}
h3 {
	font-weight: bold;
	font-size: 1em;
  text-align: center;
}
input[type="button"] {
	visibility: hidden;
}
.segundos {
	font-size: 3em;
}
